@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-target {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.drop-target.highlight {
    /* background-color: rgba(0, 123, 255, 0.1);   */
    border-bottom: 4px solid rgba(0, 123, 255, 0.6);  
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transform: scale(1.05); 
}
